* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-family: "Source Serif Pro";
  font-size: 62.5%;
}
body {
  color: #a54328;
  font-size: 1.6rem;
}
.titulo {
  padding: 1.5rem 2rem;
  text-align: center;
}
.container {
  max-width: 32rem;
  margin-inline: auto;
  padding: 5.6rem 4rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

img {
  width: 100%;
  margin-block: 3.2rem;
  /* coloca espaços entre cima e baixo */
}
ul,
ol {
  padding-left: 2.4rem;
}
ul {
  margin-bottom: 2.4rem;
}
.btnErro {
  font-family: "Source Serif 4";
  background-color: hsl(13, 61%, 40%);
  color: white;
  border: 0;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.8rem 0.8rem;
  margin: auto;
}
footer {
  margin-top: 1.2rem;
  text-align: center;
}
@media (width > 70rem) {
  #app {
    background-color: #fff;
    display: grid;
    grid:
      "header header header " minmax(0px, auto)
      "main section aside " minmax(0px, auto)
      "footer footer footer" minmax(0px, auto)
      / 1fr 1fr 1fr;
    gap: 1rem 2rem;
    justify-items: center;
    height: 100vh;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  main .container {
    max-width: 32rem;
    margin-left: auto;
    margin-inline: auto;
    padding: 4rem 6rem;
    box-sizing: content-box;
  }
  section {
    grid-area: section;
  }
  aside {
    grid-area: aside;
  }
  aside .container {
    max-width: 40rem;
    margin-inline: auto;
    padding: 4rem 6rem;
    box-sizing: content-box;
  }

  footer {
    grid-area: footer;
    display: flex;
    align-items: flex-end;
  }
}
